
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dobble Social Network</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <script src="js/funcoes.js"></script>
  </head>

  <body>

  <header>
    <div class="container">
      <img src="img/logo.png" class="logo" alt="">
      <form class="form-inline">
        <label>Usuário</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;       
        <button type="submit" class="btn btn-default">Sair</button><br>
      </form>
    </div>
  </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Feed</a></li>
            <li><a href="members.html">Perfil</a></li>
            <li class="active"><a href="contact.html">Check-in</a></li>
            <li><a href="groups.html">Badges</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default post">
              <div class="panel-body">
                <div class="preview col-md-6">
                  <br>            
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                  </div>
                  
                </div>
                <div class="details col-md-3">
                  <h2 class="product-title">Check-in da BOA!</h2>
                  <h3>Passo 2 de 2</h3>
                  <br>
                    <label>Cerveja: </label>
                    <label>NOME CERVEJA</label>
                  <br>
                    <a href="javascript:void(0)" onclick="Avaliar(1)">
                    <img src="img/star0.png" id="s1"></a>

                    <a href="javascript:void(0)" onclick="Avaliar(2)">
                    <img src="img/star0.png" id="s2"></a>

                    <a href="javascript:void(0)" onclick="Avaliar(3)">
                    <img src="img/star0.png" id="s3"></a>

                    <a href="javascript:void(0)" onclick="Avaliar(4)">
                    <img src="img/star0.png" id="s4"></a>

                    <a href="javascript:void(0)" onclick="Avaliar(5)">
                    <img src="img/star0.png" id="s5"></a>
                  <div class="action">
                    <br>
                    <button class="add-to-cart btn btn-default" type="button">Avaliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Dobble Copyright &copy, 2015</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
